<div class="column is-one-quarter">
  <nav class="panel">
    <p class="panel-heading">Trends</p>
    <a href="#" class="panel-block">Coutinho</a>
    <a href="#" class="panel-block">Gabriel Jesus</a>
    <a href="#" class="panel-block">Justice Kennedy1</a>
    <a href="#" class="panel-block">Sérvia</a>
    <a href="#" class="panel-block">#yağmur</a>
    <a href="#" class="panel-block">#AMLOFEST</a>
  </nav>  
</div>