<div class="column">
  <p class="panel-heading has-text-weight-bold">Who to follow</p>

  <div class="panel-block">
    <article class="media">
      <div class="media-left">
        <figure class="iamge 32x32">
          <img src="https://bulma.io/images/placeholders/32x32.png" alt="">
        </figure> 
      </div> 
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Pipin Carolina</strong> 
            <small>@pipincarolina</small>
          </p>
        </div>  
      </div>
    </article> 
  </div>

  <div class="panel-block">
    <article class="media">
      <div class="media-left">
        <figure class="iamge 32x32">
          <img src="https://bulma.io/images/placeholders/32x32.png" alt="">
        </figure> 
      </div> 
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Doris Erdman</strong> 
            <small>@doriserdman</small>
          </p>
        </div>  
      </div>
    </article> 
  </div>

  <div class="panel-block">
    <article class="media">
      <div class="media-left">
        <figure class="iamge 32x32">
          <img src="https://bulma.io/images/placeholders/32x32.png" alt="">
        </figure> 
      </div> 
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Everette Hermann</strong> 
            <small>@everette</small>
          </p>
        </div>  
      </div>
    </article> 
  </div>
  
</div>